:root {
  --accent_color: #82e9b4;
  --light_gray: #272727;
  --dark_gray: #202020;
  --sent_message_color: #025c4c;
  --received_message_color: #373737;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(255, 255, 255);
  background: black;
}

a {
  color: inherit;
  text-decoration: none;
}

ul::-webkit-scrollbar {
  width: "3px" !important;
}

ul::-webkit-scrollbar-thumb {
  background-color: "#9f9f9f" !important;
  border-radius: "20px" !important;
  border-color: "transparent" !important;
}

svg {
  cursor: pointer;
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
